.lform{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 7%;
}

.logged{
    border: 1px solid #ffdab0;
    height: 20%;
    width: 100%;
}

h2{
    margin: 0;
    height: 10%;
    color: #00302E;
    font-size: 1.8rem;
}

.lg{
    height: 20%;
    width: 100%;
    background-color: #00302E;
    color: #ffdab0;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 5px;
}

.lg:hover{
    background-color: #07413f;
}

form{
    height: 60%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    color: #00302E;
    text-decoration: none;
    font-size: .8rem;
}

.slform{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

@media only screen and (max-width: 943px){
    .lform{
        height: 90%;
        padding: 6%;
    }
}
@media only screen and (max-width: 843px){
    .lform{
        height: 80%;
    }
}
@media only screen and (max-width: 768px){
    .lform{
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0%;
        background-color: #e2b78771;

    }
    .slform{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding: 7%;
    }
    form{
        height: 70%;
    }
}

@media only screen and (max-width: 468px){
    .slform{
        width: 80%;
        height: 65%;
        padding: 8%;
    }
    .ch{
        margin: 0;
        height: 10%;  
        font-size: 1.6rem;      
    }
    form{
        height: 60%;
    }
    .a{
        font-size: .7rem;
    }
}

@media only screen and (max-width: 376px){
    .ch{ 
        font-size: 1.4rem;      
    }
    .oform{
        height: 65%;
    }
    .slform{
        width: 85%;
        height: 65%;
        padding: 8%;
    }
    .a{
        font-size: .6rem;
    }
    .dasb{
        font-size: .7rem;
    }
}
    
@media only screen and (max-width: 276px){
    .ch{ 
        font-size: 1.5rem;      
    }
    .slform{
        width: 90%;
    }
    .logged{
        height: 15%;
    }    
    .lg{
        height: 15%;
    }
}