.fsection{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 5% 8%;
}

.fschd{
    font-size: 2.8rem;
    margin: 0;
    margin: 0;
    color: white;
    font-weight: bold;
}

.fschd span{
    color: #FBDDBB;
}

.lfttxt{
    font-size: .9rem;
    color: white;
    padding: 5% 0;
}

.lftsec{
    width: 45%;
    text-align: left;
}

.rgtsec{
    width: 32%;
}

.food1{
    width: 100%;
}
.food1 img{
    width: 100%;
    height: auto;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    gap: 1rem;
}

.store img{
    border: .5px solid #ffffff46;;
    border-radius: 5px;
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 1197px){
    .fsection{
        padding: 5%;
    }   
    .fschd{
        font-size: 2.3rem;
    } 
}

@media only screen and (max-width: 768px){
    .lfttxt{
        font-size: .8rem;
    }
    .fschd{
        font-size: 1.9rem;
    }
    .image{
        width: 65%;
    }
    .lftsec{
        width: 45%;
    }
}
@media only screen and (max-width: 668px){
    .lfttxt{
        font-size: .7rem;
    }
    .lftsec{
        width: 60%;
    }
    .fschd{
        font-size: 1.75rem;
    }
    .image{
        width: 70%;
    }
}

@media only screen and (max-width: 568px){
    .fschd{
        font-size: 1.6rem;
    }
    .image{
        width: 75%;
    }
    .fsection{
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 5%;
    }
    .lftsec{
        width: 90%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .lfttxt{
        padding: .5rem 0 1.5rem 0;
    }
    .rgtsec{
        width: 60%;
    }
    .image{
        width: 60%;
    }
}

@media only screen and (max-width: 468px){
    .fschd{
        font-size: 1.2rem;
    }
    .image{
        width: 80%;
    }
}

@media only screen and (max-width: 376px){
    .fsection{
        padding: 8% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .lftsec{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lfttxt{
        text-align: center;
    }
    .image{
        width: 70%;
    }
    .fschd{
        font-size: 1.2rem;
        text-align: center;
    }
    .rgtsec{
        width: 80%;
    }
}
    
@media only screen and (max-width: 276px){
    .fschd{
        font-size: .9rem;
    }
    .lfttxt{
        font-size: .6rem;
    }
}