.ssec2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3% 8% 0 8% ;
}

.ssec{
    width: 100%;
}

.sschd{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.fsec2{
    padding: 1% 25%;
}

.fsec2 div{
    color: white;
    font-size: .9rem;
    padding: .5rem 0;
}

@media only screen and (max-width: 1197px){
    .sign{
        height: 80%;
    }
    .lftside{
        width: 13%;
    }
    .ssec2{
        padding: 3% 5% 0 5% ;
    }
}
@media only screen and (max-width: 1073px){
    .lftside{
        width: 14%;
    }
}
@media only screen and (max-width: 943px){
    .ssec{
        padding: 3% 0;
    }
    .fsec2{
        padding: 1% 20%;
    }
}
@media only screen and (max-width: 843px){
    .sschd{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width: 768px){
    .sschd{
        font-size: 1.7rem;
    }
    .fsec2 div{
        font-size: .8rem;
        padding: 4% 0;
    }
}
@media only screen and (max-width: 668px){
    .fsec2{
        padding: 1% 13%;
    }
    .sscdiv{
        padding: 4% 0;
    }
}

@media only screen and (max-width: 568px){
    .sschd{
        font-size: 1.4rem;
    }
    .fsec2 div{
        font-size: .7rem;
        padding: .5rem 0;
    }
}

@media only screen and (max-width: 468px){
    /*  */
}

@media only screen and (max-width: 376px){
    .ssec2{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding: 3% 8% 0 8% ;
        align-items: center;
    }
    .sschd{
        font-size: 1.2rem;
    }
    .fsec2 div{
        font-size: .6rem;
    }
}
    
@media only screen and (max-width: 276px){
    .sschd{
        font-size: .8rem;
    }
    .fsec2 div{
        font-size: .6rem;
    }
}