.ssub{
    width: 20%;
}
.secs{
    width: 100%;
}
.secs img{
    width: 100%;
    height: auto;
    text-align: center;
}
h3{
    font-size: 1.2rem;
    color: #FBDDBB;
    margin: .5rem 0;
}

.ssub div{
    font-size: .9rem;
    color: white;
}

@media only screen and (max-width: 943px){
    .ssub{
        width: 25%;
    }
}
@media only screen and (max-width: 768px){
    h3{
        font-size: 1.1rem;
    }
    .ssub div{
        font-size: .8rem;
    }
    .ssub{
        width: 30%;
    }
    .secs img{
        width: 70%;
    }
}
@media only screen and (max-width: 668px){
    .secs{
        width: 80%;
    }
}
@media only screen and (max-width: 568px){
    h3{
        font-size: 1rem;
    }
    .ssub div{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 376px){
    h3{
        font-size: .9rem;
    }
    .ssub{
        width: 70%;
        padding-bottom: 1rem;
    }
    .ssub div{
        font-size: .6rem;
    }
}
@media only screen and (max-width: 276px){
    h3{
        font-size: .7rem;
        font-weight: normal;
    }
}