
.body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4% 5%;
}
.cardsdiv{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    grid-template-rows: 50% 50%;
    height: fit-content;
    width: 79%;
    gap: 10%;
    padding: 4% 0;
    box-sizing: border-box;
}

.cards{
    display: flex;
    justify-content: flex-end;
    gap: 8%;
    height: 92%;
    width: 100%;
}

.wtxt{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big_text{
    font-size: 1.4rem;
    text-align: left;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.grttxt{
    font-size: .9rem;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8%;
    width: 79%;
    align-items: center;
}

.prof{
    width: 6%;
    height: 84%;
}

.prof img{
    height: 100%;
    width: auto;
}
@media only screen and (max-width: 1197px){

    .cardsdiv{
        grid-template-columns: 29% 29% 29%;
        grid-template-rows: 46% 46%;
        gap: 6%;
        width: 80%;
        justify-content: space-between;
    }
    .welcome{
        width: 80%;
    }
}
@media only screen and (max-width: 1043px){
    .prof{
        width: 6%;
        height: 84%;
    }   
}
@media only screen and (max-width: 943px){
    .cardsdiv{
        grid-template-columns: 40% 40%;
        grid-template-rows: 39% 39% 39%;
        gap: 5% 12%;
        padding: 2% 0;
        width: 74%;
    }
    .prof{
        width: 8%;
        height: 73%;
    }   
    .welcome{
        width: 74%;
    }
}
@media only screen and (max-width: 843px){
    .prof{
        width: 8%;
        height: 73%;
    }   
}

@media only screen and (max-width: 768px){
    .cardsdiv{
        grid-template-rows: 35% 35% 35%;
        grid-template-columns: 40% 40%;
        width: 90%;
        justify-content: space-around;
        gap: 1rem;
    }
    
    .welcome{
        width: 90%;
    }
    .big_text{
        font-size: 1.2rem;
    }
    
    .grttxt{
        font-size: .8rem;
    }
    
}

@media only screen and (max-width: 568px){
    .cardsdiv{
        grid-template-columns: 45% 45%;
        width: 88%;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 1rem;
    }
    .big_text{
        font-size: 1.1rem;
    }
    .welcome{
        width: 88%;
    }
    .grttxt{
        font-size: .7rem;
    }
    .prof{
        width: 10%;
        height: auto;
    }   
    .prof img{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 468px){
    .cardsdiv{
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 100%;
        width: 81%;
        align-items: center;
        justify-content: center;
    }
    .welcome{
        width: 80%;
    }
    .prof{
        display: none;
    }
    
}
@media only screen and (max-width: 376px){
    .big_text{
        font-size: 1rem;
    }
    .grttxt{
        font-size: .6rem;
    }
}